* {
  padding: 0;
  margin: 0;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: black !important;
}

.carousel.slide.carousel-2 {
  display: none;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: space-between;
  }

  .navbar-expand-lg .navbar-collapse .nav-link{
    font-weight: 700;
    font-size: 17px;
    margin-left: 30px;
  }

  .navbar-nav {
    flex-grow: 1;
  }

  .navbar-collapse form {
    margin-left: auto;
  }

  .navbar-toggler {
    display: none;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
      flex-direction: row;
  }
}

.navbar-nav .nav-link.active {
  color: rgb(255, 0, 0);
}

.navbar-brand img {
  margin-left: 50px;
  max-width: 45px;
}

.btn-outline-success {
  --bs-btn-color: rgb(255, 0, 0);
  --bs-btn-border-color: rgb(255, 0, 0);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(255, 0, 0);
  --bs-btn-hover-border-color: rgb(255, 0, 0);
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(255, 0, 0);
  --bs-btn-active-border-color: rgb(255, 0, 0);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(255, 0, 0);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(255, 0, 0);
  --bs-gradient: none;
}

.navbar-toggler {
  background-color: rgb(255, 0, 0);
  color: white;
  margin-right: 20px;
}

.navbar-toggler:hover {
  background-color: rgb(255, 0, 0);
  border: var(--bs-border-width) solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.dropdown {
  text-align: right;
  margin-bottom: 1em;
}

.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(255, 255, 255);
  --bs-btn-border-color: #6c757d;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(255, 0, 0);
  --bs-btn-hover-border-color: #565e64;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #070303;
  --bs-btn-active-bg: rgb(255, 0, 0);
  --bs-btn-active-border-color: #51585e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(255, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(255, 0, 0);
  --bs-btn-disabled-bg: #6c757d;
  --bs-btn-disabled-border-color: #6c757d;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  color: var(--bs-dropdown-link-color);
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  border-radius: var(--bs-dropdown-item-border-radius, 0);
}

.dropdown-menu {
  --bs-dropdown-zindex: 1000;
  --bs-dropdown-min-width: 10rem;
  --bs-dropdown-padding-x: 0;
  --bs-dropdown-padding-y: 0.5rem;
  --bs-dropdown-spacer: 0.125rem;
  --bs-dropdown-font-size: 1rem;
  --bs-dropdown-color: var(--bs-body-color);
  --bs-dropdown-bg: var(--bs-body-bg);
  --bs-dropdown-border-color: var(--bs-border-color-translucent);
  --bs-dropdown-border-radius: var(--bs-border-radius);
  --bs-dropdown-border-width: var(--bs-border-width);
  --bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-divider-margin-y: 0.5rem;
  --bs-dropdown-box-shadow: var(--bs-box-shadow);
  --bs-dropdown-link-color: var(--bs-body-color);
  --bs-dropdown-link-hover-color: rgb(255, 255, 255);
  --bs-dropdown-link-hover-bg: rgb(255, 0, 0);
  --bs-dropdown-link-active-color: rgb(255, 255, 255);
  --bs-dropdown-link-active-bg: rgb(255, 0, 0);
  --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
  --bs-dropdown-item-padding-x: 1rem;
  --bs-dropdown-item-padding-y: 0.25rem;
  --bs-dropdown-header-color: #6c757d;
  --bs-dropdown-header-padding-x: 1rem;
  --bs-dropdown-header-padding-y: 0.5rem;
  position: absolute;
  z-index: var(--bs-dropdown-zindex);
  display: none;
  min-width: var(--bs-dropdown-min-width);
  padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
  margin: 0;
  font-size: var(--bs-dropdown-font-size);
  color: var(--bs-dropdown-color);
  text-align: left;
  list-style: none;
  background-color: var(--bs-dropdown-bg);
  background-clip: padding-box;
  border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
  border-radius: var(--bs-dropdown-border-radius);
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  color: #ffffff;
  background-color: var(--bs-btn-active-bg);
  border-color: rgb(255, 0, 0);
}

.btn:hover {
  color: rgb(255, 255, 255);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-bg);
}

.row img {
  max-height: 300px;
}

.nav-link {
  display: inline-block;
  position: relative;
  color: #ffffff;
  margin-left: 20px;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #ff0000;
  transform-origin: bottom middle;
  transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom middle;
}

.nav-link:hover {
  color: rgb(255, 255, 255);
}

.carousel-item img {
  width: 100%;
}

.card-title {
  text-align: center;
}

.card {
  padding: 15px 25px 35px;
  height: 100%;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.25s;
}

.filter-name {
  font-size: 20px;
  text-align: center;
  display: none;
}

.filter {
  display: block;
  background-color: rgb(0, 0, 0);
  width: 80%;
  min-height: 30%;
  margin-left: 3em;
  color: #fff;
  padding: 25px 25px 30px;
  margin-top: 70px;
}

.filter p {
  padding: 20px 0px;
}

.filter input {
  display: none;
}

.filter label {
  display: block;
}

.filter ul {
  list-style: none;
  font-size: medium;
  padding: 0;
}

.filter li {
  font-size: small;
  padding: 0px 0px 10px 0px;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox .checkmark {
  position: relative;
  display: inline-block;
  align-items: center;
  width: 12px;
  height: 12px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  margin-right: 8px;
}

.custom-checkbox input[type="checkbox"]:checked+.checkmark {
  background-color: #f00;
  border-color: #f00;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.custom-checkbox:hover {
  color: #f00;
}

.custom-checkbox input[type="checkbox"]:checked~.text {
  color: #f00;
}

.custom-checkbox:after {
  color: #f00;
}

.custom-checkbox:hover .checkmark {
  border-color: #f00;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

.icon-sort {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

footer {
  background-color: black !important;
  color: #fff;
  padding: 40px 0 45px;
}

footer label {
  display: block;
  cursor: pointer;
}

.group {
  margin: 0;
  padding: 20px 0;
  font-size: 1.2em;
  font-weight: bold;
}

.member {
  padding: 6px 0;
}

.group-list {
  list-style-type: none;
  margin: 0;
  padding: 0px;
}

footer li:hover {
  color: #f00;
  cursor: pointer;

}

.price-footer {
  margin-top: 2em;
}

footer input[type="checkbox"] {
  display: none;
}

@media (max-width: 991px) {
  .filter {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .dropdown {
    text-align: right;
    margin-bottom: 1em;
    margin-right: 25px;
  }

  .row.section {
    padding: 0 25px;
  }

  .row.first {
    flex-direction: column;
  }

  .col-lg-3,
  .col-lg-8 {
    width: 100%;
    height: 90%;
  }

  .col-lg-3 {
    order: -1;
    margin: 0 25px 20px 25px;
    width: calc(100% - 50px);
    box-sizing: border-box;
  }

  .filter-name {
    display: block;
  }

  .filter ul {
    display: none;
  }

  .filter-name {
    padding: 0;
    margin: 0;
  }

  .filter label {
    cursor: pointer;
  }

  #checkbox-filter:checked+ul {
    display: block;
  }

  .price-footer {
    padding: 0 0 20px 0;
    margin-top: 2em;
  }

  .group-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s linear;
  }

  .member {
    padding: 15px 0;
  }

  footer {
    padding: 0 0 20px 0;
  }

  footer input[type="checkbox"]:checked+ul {
    max-height: 500px;
  }

  .row.footer {
    padding: 0 30px;
  }

  #bottom-list {
    border-bottom: 1px solid rgb(131, 131, 131);
  }
}

@media (max-width: 991px) {
  .carousel.slide.carousel-1 {
    display: none;
  }
  .carousel.slide.carousel-2 {
    display: block;
  }
}